<app-navbar></app-navbar> <br><br>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <form class=""
        class = "form-signin animated fadeIn"
        autocomplete = "off"
        [formGroup] = "registerForm"
        (ngSubmit)="register()"
        >
            <div class=""> 
                <label >Username: </label>
                <input type="text" 
                class="form-control mb-2" 
                id="inputusername"
                placeholder = "Usermame"
                formControlName = "username" required>
            </div>
            <div class="">
                <label >Email:</label>
                <input type="text" 
                class="form-control mb-2" 
                id="inputEmail"
                placeholder = "Email"
                formControlName = "email" required>
            </div>  
            <div class="">
                <label >Password:</label>
                <input type="password" 
                class="form-control mb-2" 
                id="inputPassword"
                placeholder = "Password"
                formControlName = "password" required>
            </div>
            <div class="">
                <label>Edad: </label>
                <input type="text" 
                class="form-control mb-2" 
                id="inputEdad"
                placeholder = "Edad"
                formControlName = "edad" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Genero</label>
                <select class="form-control" formControlName = "genero" id="inputGenero">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
            </div>
            
            <br>
                <button type="submit" class="btn btn-primary btn-block mb-2">
                Registrarme
                </button>
                <a [routerLink]="['/show']">show users</a>
        </form>
        </div>
    </div>
</div>